<link rel="stylesheet" class="aplayer-secondary-style-marker" href="\tretre1.github.io\assets\css\APlayer.min.css"><script src="\tretre1.github.io\assets\js\APlayer.min.js" class="aplayer-secondary-script-marker"></script>#nav .menus_items {
    position: absolute;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
}

#nav .menus_items .menus_item:hover .menus_item_child{
    display: flex;
}

/* 这里的2是代表导航栏的第二个元素，即有子菜单的元素，可以按自己需求修改 */
.menus_items .menus_item:nth-child(2) .menus_item_child {
    left: -85px;
}

.menus_items .menus_item:nth-child(3) .menus_item_child {
    left: -120px;
}

.menus_items .menus_item:nth-child(4) .menus_item_child {
    left: -125px;
}

.menus_items .menus_item:nth-child(6) .menus_item_child {
    left: -75px;
}